@font-face {
    font-family: 'koken';
    src: url('./../fonts/kokn.ttf');
}

/* ****************    **************** */
// Global Styles
/* ****************    **************** */

body{
    font-family: 'koken';
}

label{
    margin-bottom: 0;
}



// input[type="file"]{
//     width: 0.1px;
//     height: 0.1px;
//     opacity: 0;
//     overflow: hidden;
//     position: absolute;
//     z-index: -1;
// }

/* ****************    **************** */
// Classes Styles
/* ****************    **************** */


.m-b-10{
    margin-bottom: 10px;
}

.page-title{
    font-size: 30px;
}

.txt-red{
    color: #d83939;
    font-weight: bold;
    direction: ltr;
}

/* ****************    **************** */
// Ant Styles Reset
/* ****************    **************** */

.ant-form-item-label{
    width: 100%;
}

.ant-form-item-label > label::after{
    display: none;
}

.ant-notification-notice-close{
    display: none;
}

.ant-notification-notice-icon{
    position: relative;
    top: 3px;
    margin-left: 0;
}

.ant-notification-notice-closable .ant-notification-notice-message{
    padding-right: 10px;
}



.ant-modal-footer{
    display: none;
}





.ant-pagination-prev, 
.ant-pagination-next{
    transform: rotate(180deg);
}

.ant-select-selection-selected-value{
    float: right;
}

.ant-calendar-picker{
    display: block;    
}


.ant-select-search input{
    width: 100% !important;
}

.ant-select-selection--multiple .ant-select-search--inline{
    width: 95% !important;
}

.ant-calendar-picker-icon {
    position: relative;
    top: -25px;
}

.ant-calendar-picker-input.ant-input {
    text-indent: 20px;
}