<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Forms</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Form-Layouts</span>
        </div>
    </div>
    <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
        <button type="button" class="btn btn-warning btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-download "></i>
        </button>
        <button type="button" class="btn btn-danger  btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-clock"></i>
        </button>
        <button type="button" class="btn btn-success btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-plus"></i>
        </button>
        <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
    </div>
</div>
<!-- breadcrumb -->

<!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Horizontal Alignment
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                <div class="pd-30 pd-sm-40 bg-gray-200">
                    <div class="row row-xs">
                        <div class="col-md-5">
                            <input class="form-control" placeholder="Enter your username" type="text">
                        </div>
                        <div class="col-md-5 mg-t-10 mg-md-t-0">
                            <input class="form-control" placeholder="Enter your password" type="password">
                        </div>
                        <div class="col-md mg-t-10 mg-md-t-0">
                            <button class="btn btn-main-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Vertical Alignment
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bg-gray-200 p-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Enter your username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Enter your password" type="password">
                            </div><button class="btn btn-main-primary pd-x-20">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Left Label Alignment
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                <div class="pd-30 pd-sm-40 bg-gray-200">
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Firstname</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" placeholder="Enter your firstname" type="text">
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Lastnane</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" placeholder="Enter your lastname" type="text">
                        </div>
                    </div>
                    <div class="row row-xs align-items-center mg-b-20">
                        <div class="col-md-4">
                            <label class="form-label mg-b-0">Email</label>
                        </div>
                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                            <input class="form-control" placeholder="Enter your email" type="email">
                        </div>
                    </div>
                    <button class="btn btn-main-primary pd-x-30 mg-r-5 mg-t-5">Register</button>
                    <button class="btn btn-dark pd-x-30 mg-t-5">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Form Group Wrapper
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                <div class="">
                    <div class="row row-xs form-group-wrapper">
                        <div class="col-md-6">
                            <div class="main-form-group">
                                <label class="form-label">Email</label> <input class="form-control" placeholder="Enter your email" type="email" value="me@sprukotechnologies.com">
                            </div><!-- main-form-group -->
                        </div>
                        <div class="col-md-6 mg-t-20 mg-md-t-0">
                            <div class="main-form-group">
                                <label class="form-label">Password</label> <input class="form-control" placeholder="Enter your password" type="password" value="thisismypassword">
                            </div><!-- main-form-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Form in Dropdown
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                <div ngbDropdown class="main-dropdown-form-demo">
                    <button class="btn ripple btn-main-primary pd-x-20" ngbDropdownToggle>Live Example <i
                            class="icon ion-ios-arrow-down mg-l-5 tx-12"></i></button>
                    <div ngbDropdownMenu>
                        <h6 class="dropdown-title">Subscribe</h6>
                        <p class="mg-b-20">Don't miss any update from us.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter your fullname" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter your email" type="email">
                        </div><button class="btn ripple btn-primary btn-block">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Form in Modal
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                <div class="tx-center pd-y-20 bg-gray-200">
                    <button class="btn ripple btn-main-primary" (click)="modalOpen(basicmodal)">View Live Demo</button>
                </div><!-- pd-y-30 -->

                <ng-template #basicmodal let-modal>
                    <div class="modal-body pd-20 pd-sm-40">
                        <button v class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title ">Create New Account</h5>
                        <p class="mg-b-20">Let's get you all setup so you can begin using our app.</p>
                        <div class="form-group">
                            <input class="form-control" placeholder="Firstname" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Lastname" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Phone" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" type="text">
                        </div>
                        <div class="form-group mg-b-25">
                            <label class="ckbox mg-b-5"><input type="checkbox"> <span class="tx-13">I agree to <a href="javascript:;">Terms</a> and
                                    <a href="javascript:;">Privacy Policy</a></span></label>
                            <label class="ckbox mg-b-5"><input checked type="checkbox"><span class="tx-13">Yes, I want to receive email from your newsletter.</span></label>
                        </div>
                        <button class="btn ripple btn-primary btn-block">Continue</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Payment Details
                </div>
                <p class="mg-b-20">It is Very Easy to Customize and it uses in your website application.</p>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-6 mx-auto d-block">
                        <div class="card card-body pd-10 pd-md-20 border shadow-none">
                            <h5 class="card-title mg-b-20">Your Payment Details</h5>
                            <div class="form-group">
                                <label class="main-content-label tx-11 tx-medium tx-gray-600">Name on Card</label> <input class="form-control" required="" type="text">
                            </div>
                            <div class="form-group">
                                <label class="main-content-label tx-11 tx-medium tx-gray-600">Card Number</label>
                                <div class="pos-relative">
                                    <input class="form-control pd-r-80" required="" type="text">
                                    <div class="d-flex pos-absolute t-5 r-10"><img alt="" class="wd-30 mg-r-5" src="../../assets/img/visa.png"> <img alt="" class="wd-30" src="../../assets/img/mastercard.png"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row row-sm">
                                    <div class="col-sm-9">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600">Expiration Date</label>
                                        <div class="row row-sm">
                                            <div class="col-sm-7">
                                                <ng-select class="form-control select2-no-search" placeholder="Month">
                                                    <ng-option value="0">Choose one</ng-option>
                                                    <ng-option value="January">January</ng-option>
                                                    <ng-option value="February">February</ng-option>
                                                    <ng-option value="March">March</ng-option>
                                                    <ng-option value="April">April</ng-option>
                                                    <ng-option value="May">May</ng-option>
                                                    <ng-option value="June">June</ng-option>
                                                    <ng-option value="July">July</ng-option>
                                                    <ng-option value="August">August</ng-option>
                                                    <ng-option value="September">September</ng-option>
                                                    <ng-option value="October">October</ng-option>
                                                    <ng-option value="November">November</ng-option>
                                                    <ng-option value="December">December</ng-option>
                                                </ng-select>
                                            </div>
                                            <div class="col-sm-5 mg-t-10 mg-sm-t-0">
                                                <ng-select class="form-control select2-no-search" placeholder="Year">
                                                    <ng-option value="2020">2020</ng-option>
                                                    <ng-option value="2020">2019</ng-option>
                                                    <ng-option value="2018">2018</ng-option>
                                                    <ng-option value="2017">2017</ng-option>
                                                    <ng-option value="2016">2016</ng-option>
                                                    <ng-option value="2015">2015</ng-option>
                                                    <ng-option value="2014">2014</ng-option>
                                                    <ng-option value="2013">2013</ng-option>
                                                    <ng-option value="2012">2012</ng-option>
                                                    <ng-option value="2011">2011</ng-option>
                                                    <ng-option value="2010">2010</ng-option>
                                                    <ng-option value="2009">2009</ng-option>
                                                    <ng-option value="2008">2008</ng-option>
                                                    <ng-option value="2007">2007</ng-option>
                                                    <ng-option value="2006">2006</ng-option>
                                                    <ng-option value="2005">2005</ng-option>
                                                    <ng-option value="2004">2004</ng-option>
                                                    <ng-option value="2003">2003</ng-option>
                                                    <ng-option value="2002">2002</ng-option>
                                                    <ng-option value="2001">2001</ng-option>
                                                    <ng-option value="2001">2000</ng-option>
                                                    <ng-option value="1999">1999</ng-option>
                                                    <ng-option value="1998">1998</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mg-t-20 mg-sm-t-0">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600">CVC</label>
                                         <input class="form-control" required="" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mg-b-20">
                                <label class="ckbox"><input checked type="checkbox"><span class="tx-13">Save my card for future purchases</span></label>
                            </div>
                            <button class="btn btn-main-primary btn-block">Complete Payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->