<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Ecommerce</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Product-Cart</span>
        </div>
    </div>
    <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
        <button type="button" class="btn btn-warning btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-download "></i>
        </button>
        <button type="button" class="btn btn-danger  btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-clock"></i>
        </button>
        <button type="button" class="btn btn-success btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-plus"></i>
        </button>
        <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
    </div>
</div>
<!-- breadcrumb -->

<!-- row opened -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="product-details table-responsive text-nowrap">
                    <table class="table table-bordered table-hover mb-0 text-nowrap overflow-hidden">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th class="w-150">Quantity</th>
                                <th >Price</th>
                                <th >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="../../assets/img/ecommerce/01.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">Sandels</h6>
                                                <dl class="card-item-desc-1">
                                                  <dt>Size: </dt>
                                                  <dd>XXL</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                  <dt>Color: </dt>
                                                  <dd>Green and Black color</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div #Modal class="form-group">
                                        <ng-select placeholder="1" name="quantity" id="select-countries" class="select2" >
                                            <!--custom-select form-control -->
                                            <ng-option value="1" selected>1</ng-option>
                                            <ng-option value="2">2</ng-option>
                                            <ng-option value="3" >3</ng-option>
                                            <ng-option value="4">4</ng-option>
                                        </ng-select>
                                    </div>
                                </td>
                                <td>USD 45</td>
                                <td>
                                    <a href="javascript:;" type="button" class="btn btn-danger btn-sm text-white mr-2" placement="bottom" ngbTooltip="Delete"><i class="fe fe-trash"></i></a>
                                    <a href="javascript:;" type="button" class="btn btn-info btn-sm text-white" placement="bottom" ngbTooltip="Save to Wishlist"><i class="fe fe-heart"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="../../assets/img/ecommerce/06.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">Digital Watch</h6>
                                                <dl class="card-item-desc-1">
                                                  <dt>Size: </dt>
                                                  <dd>XL</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                  <dt>Color: </dt>
                                                  <dd>Black color</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div #Modal class="form-group">
                                        <ng-select placeholder="1" name="quantity" id="select-countries1" class="select2" >
                                            <!--custom-select form-control -->
                                            <ng-option value="1" selected>1</ng-option>
                                            <ng-option value="2">2</ng-option>
                                            <ng-option value="3" >3</ng-option>
                                            <ng-option value="4">4</ng-option>
                                        </ng-select>
                                    </div>
                                </td>
                                <td>USD 15</td>
                                <td>
                                    <a href="javascript:;" type="button" class="btn btn-danger btn-sm text-white mr-2" placement="top" ngbTooltip="Delete"><i class="fe fe-trash"></i></a>
                                    <a href="javascript:;" type="button" class="btn btn-info btn-sm text-white" placement="top" ngbTooltip="Save to Wishlist"><i class="fe fe-heart"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="../../assets/img/ecommerce/08.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">Western Wear</h6>
                                                <dl class="card-item-desc-1">
                                                  <dt>Size: </dt>
                                                  <dd>XL</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                  <dt>Color: </dt>
                                                  <dd>LightPink color</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div #Modal class="form-group">
                                        <ng-select placeholder="1" name="quantity" id="select-countries2" class="select2" >
                                            <!--custom-select form-control -->
                                            <ng-option value="1" selected>1</ng-option>
                                            <ng-option value="2">2</ng-option>
                                            <ng-option value="3" >3</ng-option>
                                            <ng-option value="4">4</ng-option>
                                        </ng-select>
                                    </div>
                                </td>
                                <td>USD 136</td>
                                <td>
                                    <a href="javascript:;" type="button" class="btn btn-danger btn-sm text-white mr-2" placement="top" ngbTooltip="Delete"><i class="fe fe-trash"></i></a>
                                    <a href="javascript:;" type="button" class="btn btn-info btn-sm text-white" placement="top" ngbTooltip="Save to Wishlist"><i class="fe fe-heart"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src="../../assets/img/ecommerce/02.jpg" alt="img" class="h-60 w-60">
                                        </div>
                                        <div class="media-body">
                                            <div class="card-item-desc mt-0">
                                                <h6 class="font-weight-semibold mt-0 text-uppercase">Womens Handbag</h6>
                                                <dl class="card-item-desc-1">
                                                  <dt>Size: </dt>
                                                  <dd>11-12 inches</dd>
                                                </dl>
                                                <dl class="card-item-desc-1">
                                                  <dt>Color: </dt>
                                                  <dd>LightGray color</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div #Modal class="form-group">
                                        <ng-select placeholder="1" name="quantity" id="select-countries3" class="select2 lastOne" >
                                            <!--custom-select form-control -->
                                            <ng-option value="1" selected>1</ng-option>
                                            <ng-option value="2">2</ng-option>
                                            <ng-option value="3" >3</ng-option>
                                            <ng-option value="4">4</ng-option>
                                        </ng-select>
                                    </div>
                                </td>
                                <td>USD 274</td>
                                <td>
                                    <a href="javascript:;" type="button" class="btn btn-danger btn-sm text-white mr-2" placement="top" ngbTooltip="Delete"><i class="fe fe-trash"></i></a>
                                    <a href="javascript:;" type="button" class="btn btn-info btn-sm text-white" placement="top" ngbTooltip="Save to Wishlist"><i class="fe fe-heart"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header pb-0">
                <h3 class="card-title mb-0">Estimate Shipping and tax</h3>
            </div>
            <div class="card-body">
                <div class="form-group mb-4">
                    <label class="form-label fs-15">Country</label>
                    <div class=" gutters-xs">
                        <!-- <div #Modal class="form-group">
                            <ng-select placeholder="1" name="quantity" id="select-countries" class="select2" >
                                
                                <ng-option value="1" selected>1</ng-option>
                                <ng-option value="2">2</ng-option>
                                <ng-option value="3" >3</ng-option>
                                <ng-option value="4">4</ng-option>
                            </ng-select>
                        </div> -->
                        <ng-select name="user[month]" class="select2">
                            <!-- form-control custom-select  -->
                            <ng-option value="UM">United States of America</ng-option>
                            <ng-option value="AF">Afghanistan</ng-option>
                            <ng-option value="AL">Albania</ng-option>
                            <ng-option value="AD">Andorra</ng-option>
                            <ng-option value="AG">Antigua and Barbuda</ng-option>
                            <ng-option value="AU">Australia</ng-option>
                            <ng-option value="AM">Armenia</ng-option>
                            <ng-option value="AO">Angola</ng-option>
                            <ng-option value="AR">Argentina</ng-option>
                            <ng-option value="AT">Austria</ng-option>
                            <ng-option value="AZ">Azerbaijan</ng-option>
                            <ng-option value="BA">Bosnia and Herzegovina</ng-option>
                            <ng-option value="BB">Barbados</ng-option>
                            <ng-option value="BD">Bangladesh</ng-option>
                            <ng-option value="BE">Belgium</ng-option>
                            <ng-option value="BF">Burkina Faso</ng-option>
                            <ng-option value="BG">Bulgaria</ng-option>
                            <ng-option value="BH">Bahrain</ng-option>
                            <ng-option value="BJ">Benin</ng-option>
                            <ng-option value="BN">Brunei</ng-option>
                            <ng-option value="BO">Bolivia</ng-option>
                            <ng-option value="BT">Bhutan</ng-option>
                            <ng-option value="BY">Belarus</ng-option>
                            <ng-option value="CD">Congo</ng-option>
                            <ng-option value="CA">Canada</ng-option>
                            <ng-option value="CF">Central African Republic</ng-option>
                            <ng-option value="CI">Cote d'Ivoire</ng-option>
                            <ng-option value="CL">Chile</ng-option>
                            <ng-option value="CM">Cameroon</ng-option>
                            <ng-option value="CN">China</ng-option>
                            <ng-option value="CO">Colombia</ng-option>
                            <ng-option value="CU">Cuba</ng-option>
                            <ng-option value="CV">Cabo Verde</ng-option>
                            <ng-option value="CY">Cyprus</ng-option>
                            <ng-option value="DJ">Djibouti</ng-option>
                            <ng-option value="DK">Denmark</ng-option>
                            <ng-option value="DM">Dominica</ng-option>
                            <ng-option value="DO">Dominican Republic</ng-option>
                            <ng-option value="EC">Ecuador</ng-option>
                            <ng-option value="EE">Estonia</ng-option>
                            <ng-option value="ER">Eritrea</ng-option>
                            <ng-option value="ET">Ethiopia</ng-option>
                            <ng-option value="FI">Finland</ng-option>
                            <ng-option value="FJ">Fiji</ng-option>
                            <ng-option value="FR">France</ng-option>
                            <ng-option value="GA">Gabon</ng-option>
                            <ng-option value="GD">Grenada</ng-option>
                            <ng-option value="GE">Georgia</ng-option>
                            <ng-option value="GH">Ghana</ng-option>
                            <ng-option value="GH">Ghana</ng-option>
                            <ng-option value="HN">Honduras</ng-option>
                            <ng-option value="HT">Haiti</ng-option>
                            <ng-option value="HU">Hungary</ng-option>
                            <ng-option value="ID">Indonesia</ng-option>
                            <ng-option value="IE">Ireland</ng-option>
                            <ng-option value="IL">Israel</ng-option>
                            <ng-option value="IN">India</ng-option>
                            <ng-option value="IQ">Iraq</ng-option>
                            <ng-option value="IR">Iran</ng-option>
                            <ng-option value="IS">Iceland</ng-option>
                            <ng-option value="IT">Italy</ng-option>
                            <ng-option value="JM">Jamaica</ng-option>
                            <ng-option value="JO">Jordan</ng-option>
                            <ng-option value="JP">Japan</ng-option>
                            <ng-option value="KE">Kenya</ng-option>
                            <ng-option value="KG">Kyrgyzstan</ng-option>
                            <ng-option value="KI">Kiribati</ng-option>
                            <ng-option value="KW">Kuwait</ng-option>
                            <ng-option value="KZ">Kazakhstan</ng-option>
                            <ng-option value="LA">Laos</ng-option>
                            <ng-option value="LB">Lebanons</ng-option>
                            <ng-option value="LI">Liechtenstein</ng-option>
                            <ng-option value="LR">Liberia</ng-option>
                            <ng-option value="LS">Lesotho</ng-option>
                            <ng-option value="LT">Lithuania</ng-option>
                            <ng-option value="LU">Luxembourg</ng-option>
                            <ng-option value="LV">Latvia</ng-option>
                            <ng-option value="LY">Libya</ng-option>
                            <ng-option value="MA">Morocco</ng-option>
                            <ng-option value="MC">Monaco</ng-option>
                            <ng-option value="MD">Moldova</ng-option>
                            <ng-option value="ME">Montenegro</ng-option>
                            <ng-option value="MG">Madagascar</ng-option>
                            <ng-option value="MH">Marshall Islands</ng-option>
                            <ng-option value="MK">Macedonia (FYROM)</ng-option>
                            <ng-option value="ML">Mali</ng-option>
                            <ng-option value="MM">Myanmar (formerly Burma)</ng-option>
                            <ng-option value="MN">Mongolia</ng-option>
                            <ng-option value="MR">Mauritania</ng-option>
                            <ng-option value="MT">Malta</ng-option>
                            <ng-option value="MV">Maldives</ng-option>
                            <ng-option value="MW">Malawi</ng-option>
                            <ng-option value="MX">Mexico</ng-option>
                            <ng-option value="MZ">Mozambique</ng-option>
                            <ng-option value="NA">Namibia</ng-option>
                            <ng-option value="NG">Nigeria</ng-option>
                            <ng-option value="NO">Norway</ng-option>
                            <ng-option value="NP">Nepal</ng-option>
                            <ng-option value="NR">Nauru</ng-option>
                            <ng-option value="NZ">New Zealand</ng-option>
                            <ng-option value="OM">Oman</ng-option>
                            <ng-option value="PA">Panama</ng-option>
                            <ng-option value="PF">Paraguay</ng-option>
                            <ng-option value="PG">Papua New Guinea</ng-option>
                            <ng-option value="PH">Philippines</ng-option>
                            <ng-option value="PK">Pakistan</ng-option>
                            <ng-option value="PL">Poland</ng-option>
                            <ng-option value="QA">Qatar</ng-option>
                            <ng-option value="RO">Romania</ng-option>
                            <ng-option value="RU">Russia</ng-option>
                            <ng-option value="RW">Rwanda</ng-option>
                            <ng-option value="SA">Saudi Arabia</ng-option>
                            <ng-option value="SB">Solomon Islands</ng-option>
                            <ng-option value="SC">Seychelles</ng-option>
                            <ng-option value="SD">Sudan</ng-option>
                            <ng-option value="SE">Sweden</ng-option>
                            <ng-option value="SG">Singapore</ng-option>
                            <ng-option value="TG">Togo</ng-option>
                            <ng-option value="TH">Thailand</ng-option>
                            <ng-option value="TJ">Tajikistan</ng-option>
                            <ng-option value="TL">Timor-Leste</ng-option>
                            <ng-option value="TM">Turkmenistan</ng-option>
                            <ng-option value="TN">Tunisia</ng-option>
                            <ng-option value="TO">Tonga</ng-option>
                            <ng-option value="TR">Turkey</ng-option>
                            <ng-option value="TT">Trinidad and Tobago</ng-option>
                            <ng-option value="TW">Taiwan</ng-option>
                            <ng-option value="UA">Ukraine</ng-option>
                            <ng-option value="UG">Uganda</ng-option>
                            <ng-option value="UY">Uruguay</ng-option>
                            <ng-option value="UZ">Uzbekistan</ng-option>
                            <ng-option value="VA">Vatican City (Holy See)</ng-option>
                            <ng-option value="VE">Venezuela</ng-option>
                            <ng-option value="VN">Vietnam</ng-option>
                            <ng-option value="VU">Vanuatu</ng-option>
                            <ng-option value="YE">Yemen</ng-option>
                            <ng-option value="ZM">Zambia</ng-option>
                            <ng-option value="ZW">Zimbabwe</ng-option>
                        </ng-select>
                    </div>
                    <label class="form-label mt-4 fs-15">Expiration Date</label>
                    <div class="gutters-xs">
                        <ng-select name="alabama" class="select2">
                            <!-- form-control custom-select  -->
                            <ng-option value="">Alabama</ng-option>
                            <ng-option value="Alabama">Alabama</ng-option>
                            <ng-option value="Alaska">Alaska</ng-option>
                            <ng-option value="American Samoa">American Samoa</ng-option>
                            <ng-option value="Arkansas">Arkansas</ng-option>
                            <ng-option value="California">California</ng-option>
                            <ng-option value="Colorado">Colorado</ng-option>
                            <ng-option value="Connecticut">Connecticut</ng-option>
                            <ng-option value="Delaware">Delaware</ng-option>
                            <ng-option value="Florida">Florida</ng-option>
                            <ng-option value="Georgia">Georgia</ng-option>
                            <ng-option value="Idaho">Idaho</ng-option>
                        </ng-select>
                    </div>
                    <label class="form-label mt-4 fs-15">Zip/Postal Code</label>
                    <div class="form-group mb-0">
                        <div class="form-group">
                            <input type="number" class="form-control" id="postal" placeholder="Zip/Postal">
                        </div>
                    </div>
                </div>
                <div class="form-footer mt-2">
                    <a href="javascript:;" class="btn btn-primary">GET A QUOTE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header pb-0">
                <div class="card-title mb-0">Order Summery</div>

            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-6"><input class="productcart form-control" type="text" placeholder="Coupon Code"></div>
                    <div class="col-6"><a href="javascript:;" class="btn btn-primary btn-md">Apply</a></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Cart Subtotal</td>
                                <td class="text-right">$792.00</td>
                            </tr>
                            <tr>
                                <td><span>Totals</span></td>
                                <td class="text-right text-muted"><span>$792.00</span></td>
                            </tr>
                            <tr>
                                <td><span>Order Total</span></td>
                                <td><h2 class="price text-right mb-0">$792.00</h2></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form class="text-center">
                    <button class="btn btn-secondary float-left mt-2 m-b-20 mr-2 " value="Proceed To Checkout">Proceed To Checkout</button>
                    <button class="btn btn-success mt-2 float-right" value="Continue Shopping">Continue Shopping</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- row closed -->