<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Advanced UI</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Search</span>
        </div>
    </div>
    <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
        <button type="button" class="btn btn-warning btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-download "></i>
        </button>
        <button type="button" class="btn btn-danger  btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-clock"></i>
        </button>
        <button type="button" class="btn btn-success btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-plus"></i>
        </button>
        <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
    </div>
</div>
<!-- breadcrumb -->

<!-- row -->
<div class="row">
    <div class="col-sm-12 col-md-12 search-page">
        <div class="card custom-card">
            <div class="card-body pb-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" placeholder="Searching.....">
                    <span class="input-group-append">
                        <button class="btn ripple btn-primary" type="button">Search</button>
                    </span>
                </div>
            </div>
            <div class="card-body pl-0 pr-0 bd-t-0 pt-0">
                <div class="main-content-body-profile mb-3">
                    <nav ngbNav #nav="ngbNav" class=" main-nav-line ">
                        <ng-container ngbNavItem >
                          <a ngbNavLink>All </a>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink>Images</a>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink>Books</a>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink>News</a>
                        </ng-container>
                        <ng-container ngbNavItem>
                          <a ngbNavLink>Videos</a>
                        </ng-container>
                    </nav>
                </div>
                <p class="text-muted mb-0 pl-3">About 12,546,90000 results (0.56 Seconds)</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-2">
                    <a href="javascript:;" class="tx-15 card-title">Search the new animations</a>
                </div>
                <h6 class="tx-13">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur eu fugiat nulla pariatur</h6>
                <p class="mb-0 text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-2">
                    <a href="javascript:;" class="tx-15 card-title">Free Boostrap admin templates</a>
                </div>
                <h6 class="tx-13">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur eu fugiat nulla pariatur</h6>
                <p class="mb-0 text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-2">
                    <a href="javascript:;" class="tx-15 card-title">20+ download the free templates</a>
                </div>
                <h6 class="tx-13">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur eu fugiat nulla pariatur</h6>
                <p class="mb-0 text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-2">
                    <a href="javascript:;" class="tx-15 card-title">Customizable admin templates</a>
                </div>
                <h6 class="tx-13">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur eu fugiat nulla pariatur</h6>
                <p class="mb-0 text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-2">
                    <a href="javascript:;" class="tx-15 card-title">HTML Admin templates</a>
                </div>
                <h6 class="tx-13">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur eu fugiat nulla pariatur</h6>
                <p class="mb-0 text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-2">
                    <a href="javascript:;" class="tx-15 card-title">Best free admin templates</a>
                </div>
                <h6 class="tx-13">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur eu fugiat nulla pariatur</h6>
                <p class="mb-0 text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="javascript:;"><i class="icon ion-ios-arrow-back"></i></a></li>
                <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;"><i class="icon ion-ios-arrow-forward"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- row closed -->