::ng-deep{
    @media (max-width:430px) {
        .main-chat-contacts-wrapper{
            padding: 0;
        }
    }
    .tooltip{
        z-index: 2 !important;
    }
    .main-chat-list .media.selected{
        z-index: 0 !important;
    }
   @media (max-width:992px) {
    .main-chat-footer{
        position: absolute !important;
    }
   }
}