<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Charts</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ e-charts</span>
        </div>
    </div>
    <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
        <button type="button" class="btn btn-warning btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-download "></i>
        </button>
        <button type="button" class="btn btn-danger  btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-clock"></i>
        </button>
        <button type="button" class="btn btn-success btn-icon mr-3 mt-2 mt-xl-0">
            <i class="mdi mdi-plus"></i>
        </button>
        <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
    </div>
</div>
<!-- breadcrumb -->

<!-- Row -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Vertical Bar chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartLineBarOption"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Bar chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartLineOption"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Line chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartVerticalLineBarChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Vertical Line Chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartVerticalLineChart"></div>
            </div>
        </div>
    </div>
</div>
<!--End  Row -->

<!-- Row -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Bar Chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartBarChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Horizontal Bar Chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartHorizontalbarChart"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Single line chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartSingleLineChart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Single smooth line chart</h3>
            </div>
            <div class="card-body">
                <div echarts class="chartsh" [options]="echartSingleSmoothLineChart"></div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
