::ng-deep{
    .bg-orange {
        background-color: #fd7e14 !important;
    }

    .bg-secondary {
        background-color: #8587a7 !important;
    }
    
    .bg-gray-400 {
        background-color: #c3c1d4;
        color: #fff;
    }
    a{
        color: #5965f9;
    }
    .text-primary {
        color: #5965f9 !important;
    }
    .bg-gray-800 {
        background-color: #676673 !important;
    }
}

