::ng-deep{
    .btn-outline-indigo {
        border-color: #5965f9 !important;
        color: #5965f9 !important;
    }
    [class*=btn-outline-]:hover, [class*=btn-outline-]:focus{
        color: #fff !important;
    }
    .main-error-wrapper{
        height: 100vh;
    }
}